<?xml version="1.0" ?>
<robot name="table">

  <!-- Base (root) -->
  <link name="base"/>

  <!-- Plateau : 1.2m x 0.8m x 0.05m, centré à z=0.725 -->
  <link name="tabletop">
    <visual>
      <geometry>
        <mesh filename="tabletop.obj"/>
      </geometry>
      <material name="wood">
        <color rgba="0.65 0.45 0.25 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="tabletop.obj"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_tabletop" type="fixed">
    <parent link="base"/>
    <child link="tabletop"/>
    <origin xyz="0 0 0.725"/>
  </joint>

  <!-- Pied avant-droit -->
  <link name="leg_fr">
    <visual>
      <geometry>
        <mesh filename="leg.obj"/>
      </geometry>
      <material name="wood">
        <color rgba="0.65 0.45 0.25 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="leg.obj"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_leg_fr" type="fixed">
    <parent link="base"/>
    <child link="leg_fr"/>
    <origin xyz="0.55 0.35 0.35"/>
  </joint>

  <!-- Pied avant-gauche -->
  <link name="leg_fl">
    <visual>
      <geometry>
        <mesh filename="leg.obj"/>
      </geometry>
      <material name="wood">
        <color rgba="0.65 0.45 0.25 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="leg.obj"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_leg_fl" type="fixed">
    <parent link="base"/>
    <child link="leg_fl"/>
    <origin xyz="0.55 -0.35 0.35"/>
  </joint>

  <!-- Pied arriere-droit -->
  <link name="leg_br">
    <visual>
      <geometry>
        <mesh filename="leg.obj"/>
      </geometry>
      <material name="wood">
        <color rgba="0.65 0.45 0.25 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="leg.obj"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_leg_br" type="fixed">
    <parent link="base"/>
    <child link="leg_br"/>
    <origin xyz="-0.55 0.35 0.35"/>
  </joint>

  <!-- Pied arriere-gauche -->
  <link name="leg_bl">
    <visual>
      <geometry>
        <mesh filename="leg.obj"/>
      </geometry>
      <material name="wood">
        <color rgba="0.65 0.45 0.25 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="leg.obj"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_leg_bl" type="fixed">
    <parent link="base"/>
    <child link="leg_bl"/>
    <origin xyz="-0.55 -0.35 0.35"/>
  </joint>

</robot>
